In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [5]:
def clean_data(df):
    # Substitua lacunas para frente do valor válido anterior em: 'trestbps'
    df = df.fillna({'trestbps': df['trestbps'].ffill()})
    # Substitua os valores ausentes pela média de cada coluna em: 'chol'
    df = df.fillna({'chol': df['chol'].mean()})
    # Substitua as lacunas do próximo valor válido em: 'fbs'
    df = df.fillna({'fbs': df['fbs'].bfill()})
    # Substitua os valores ausentes pela média de cada coluna em: 'thalach'
    df = df.fillna({'thalach': df['thalach'].mean()})
    # Substitua os valores ausentes pelo modo de cada coluna em: 'restecg'
    df = df.fillna({'restecg': df['restecg'].mode()[0]})
    # Substitua os valores ausentes pelo modo de cada coluna em: 'exang'
    df = df.fillna({'exang': df['exang'].mode()[0]})
    # Remover coluna: 'ca' (muitos nulls)
    df = df.drop(columns=['ca'])
    # Substitua lacunas para frente do valor válido anterior em: 'slope'
    df = df.fillna({'slope': df['slope'].ffill()})
    # Substitua os valores ausentes pelo modo de cada coluna em: 'thal'
    df = df.fillna({'thal': df['thal'].mode()[0]})
    return df


df = pd.read_csv(r'./data/heart_disease_combined.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal,num
0,32.0,1.0,1.0,95.0,0.0,0.0,0.0,127.0,0.0,0.7,1.0,3.0,1
1,34.0,1.0,4.0,115.0,0.0,0.0,0.0,154.0,0.0,0.2,1.0,3.0,1
2,35.0,1.0,4.0,115.0,0.0,0.0,0.0,130.0,1.0,NaN,1.0,7.0,3
3,36.0,1.0,4.0,110.0,0.0,0.0,0.0,125.0,1.0,1.0,2.0,6.0,1
4,38.0,0.0,4.0,105.0,0.0,0.0,0.0,166.0,0.0,2.8,1.0,3.0,2

In [12]:
# Normalização

scaler = MinMaxScaler()
df_clean_normalized = df_clean.copy()
df_clean_normalized = pd.DataFrame(scaler.fit_transform(
    df_clean_normalized), columns=df_clean_normalized.columns)

df_clean_normalized.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal,num
count,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,858.000000,920.000000,920.000000,920.000000
mean,0.520630,0.789130,0.750000,0.662011,0.330233,0.158696,0.301630,0.546096,0.366304,0.395317,0.403804,0.246196,0.248913
std,0.192341,0.408148,0.310323,0.094826,0.180693,0.365591,0.402721,0.177032,0.482056,0.124003,0.295480,0.420000,0.285673
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.387755,1.000000,0.666667,0.600000,0.294776,0.000000,0.000000,0.422535,0.000000,0.295455,0.000000,0.000000,0.000000
50%,0.530612,1.000000,1.000000,0.650000,0.366501,0.000000,0.000000,0.549296,0.000000,0.352273,0.500000,0.000000,0.250000
75%,0.653061,1.000000,1.000000,0.710000,0.442786,0.000000,0.500000,0.676056,1.000000,0.465909,0.500000,0.750000,0.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# Save df to csv
df_clean_normalized.to_csv(
    './data/heart_disease_clean_normalized.csv', index=False)